In [1]:
import pandas as pd

In [4]:
data_cars = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'sedan', 27150]
]

cols_cars = ['Make', 'Model', 'Year', 'EngineHP', 'Cylinders', 'Transmission', 'Type', 'Year']

df_cars = pd.DataFrame(data_cars, columns=cols_cars)

In [5]:
df_cars

      Make   Model  Year  EngineHP  Cylinders Transmission   Type   Year
0   Nissan  Stanza  1991     138.0          4       MANUAL  sedan   2000
1  Hyundai  Sonata  2017       NaN          4    AUTOMATIC  sedan  27150